html {
    font-size: 100%;
}

.index-wizard {
    max-width: 25%;
}

body {
    color: #444;
    font-size: 1rem;
    margin: 0px auto 0px auto;
    max-width: 73%;
    min-width: 20%;
    margin: auto;
    line-height: 1.5;
}

body a {
    color: #444;
}

.grey {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

p {
    font-size: 1rem;
}

div#header {

}

div#logo {
    float: none;
    font-size: 1.75rem;
    font-weight: bold;
    text-decoration: none;
}

menu {
    padding: 0;
    margin: 0;
}

nav {
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-top: 0.5rem;
    border-top: 2px solid #444;
    border-bottom: 2px solid #444;

}

nav a {
    font-size: 1.25rem;
    color: #444;
    text-decoration: none;
    margin: 1rem 1.5rem;
    display: inline-block;
}

nav a:hover {
    background-color: #Dcdcdc;
}

@media only screen and (orientation: portrait) {

    div#logo {
	font-size: 2.5rem;
    }
    body {
	max-width: 85%;
    }

    menu {
	display: flex;
	flex-direction: row;
    }

    nav column {
	text-align: left;
	display: flex;
	flex-direction: column;
	flex-basis: 100%;
	flex: 1;
    }

    nav a {
	font-size: 2.5rem;
	display: inline-block;
	white-space: nowrap;
    }
}

.post-list{
    list-style-type: none;
    padding-left: 0;
}

.post-item{
    background-color: #F5f5f5;
    margin-bottom: 0.5rem;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
    line-height: 1.70rem;
}

.post-title {
    font-size: 1.15rem;
}

.post-title a {
    color: #444;
}


.post-description {
    font-size: 0.85rem;
    line-height: 1.2rem;
}

.post-date{
    text-align: right;
    font-size: 0.80rem;
}


div#footer {
    border-top: solid 2px #444;
    color: #555;
    font-size: 0.75rem;
    margin-top: 30px;
    padding: 12px 12px 12px 12px;
    justify-content: space-evenly;
    display: flex;
    flex-direction: row
}

h1 {
    font-size: 1.25rem;
}

h2 {
    font-size: 1rem;
}

div.info {
    color: #555;
    font-size: 14px;
    font-style: italic;
}


code {
    background-color: rgb(250, 250, 250);
    border: 1px solid rgb(200, 200, 200);
    padding-left: 4px;
    padding-right: 4px;
    overflow: auto;
}

pre code {
    display: block;
    padding: 8px;
    margin-bottom: 2em;
}

.strike {
    text-decoration: line-through;
}

blockquote {
    background-color: rgb(250, 250, 250);
    border: 1px solid rgb(200, 200, 200);
    padding-left: 4px;
    padding-right: 4px;
    overflow: auto;
}
