---
title: Hello GitLab
---

  <!-- wizard image taken from
  https://mitpress.mit.edu/sites/default/files/sicp/index.html
  licensed under Creative Commons Attribution-ShareAlike 4.0
  International License -->
  <img class="index-wizard" src="/images/sicp-wizard.png"
       srcset="/images/sicp-wizard-275w.png 275w,
	       /images/sicp-wizard.png 342w"
     alt="the wizard"
     align="right">
  
<p> Mostly posts written around code snippets I don't want to lose. </p>

<h1>Posts</h1>
$partial("templates/post-list.html")$

<p>…or you might find more in the <a href="/archive.html">archives</a>.</p>
