<ul class="post-list">
    $for(posts)$
        <li class="post-item">
          <div class="post-title"><a href="$url$">$title$</a></div>
	  <div class="post-description">$if(description)$ $description$ $endif$</div>
	  <div class="post-date">$date$</div>
        </li>
    $endfor$
</ul>
